{% extends 'base.html' %}
{% block content %}

    <h2>Employee</h2>
<form action="saveEmployee" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
                <input type="text" name="firstname" class="form-control" placeholder="First Name">
        </div>
        <div class="col-md-3">
                <input type="text" name="lastname" class="form-control" placeholder="Last Name">
        </div>
         <div class="col-md-2">
                 <input type="text" name="company" class="form-control" placeholder="Company">
         </div>
         <div class="col-md-3">
                 <input type="text" name="email" class="form-control" placeholder="Email">
         </div>
         <div class="col-md-1">
                 <input type="submit" class="btn btn-primary">
         </div>

    </div>
</form>
<br/>
<table  class="table table-hover">
<thead>
<tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Company</th>
    <th>Email</th>
    <th>action</th>
</tr>
</thead>
<tbody>
{% for employee in object_list %}
<tr>
    <td>{{ employee.firstname }}</td>
    <td>{{ employee.lastname }}</td>
    <td>{{ employee.company_id }}</td>
    <td>{{ employee.email }}</td>
    <td><a href="deleteEmployee/{{employee.id}}">Delete</a></td>
</tr>

{% endfor %}
</tbody>
</table>

{% endblock %}