{% extends 'base.html' %}
{% block content %}

    <h2>Company</h2>
<form action="saveCompany" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
                <input type="text" name="name" class="form-control" placeholder="name">
        </div>
        <div class="col-md-3">
                <input type="text" name="email" class="form-control" placeholder="email">
        </div>
         <div class="col-md-2">
                 <input type="file" name="logo" class="form-control" placeholder="logo">
         </div>
         <div class="col-md-3">
                 <input type="text" name="website" class="form-control" placeholder="website">
         </div>
         <div class="col-md-1">
                 <input type="submit" class="btn btn-primary">
         </div>

    </div>
</form>
<br/>
<table  class="table table-hover">
<thead>
<tr>
    <th>Name</th>
    <th>Email</th>
    <th>logo</th>
    <th>website</th>
    <th>action</th>
</tr>
</thead>
<tbody>
{% for company in object_list %}
<tr>
    <td>{{ company.name }}</td>
    <td>{{ company.email }}</td>
    <td><img style="width:100px; height:100px" src=".{{company.logo }}"></td>
    <td>{{ company.website }}</td>
    <td><a href="deleteCompany/{{company.id}}">Delete</a></td>
</tr>

{% endfor %}
</tbody>
</table>

{% endblock %}